/*
Change by PengWu on 2017-07-06 17:40:14
*/
@charset "UTF-8";
body, input[type=text], textarea, input[type=submit], input[type=button], button {
  font-family: PingFang SC Regular, Microsoft Yahei, Arial;
}

body, ul, ol, dl, dd, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol, input[type=text], textarea, input[type=submit], input[type=button], button, option {
  padding: 0;
}

input[type=text], textarea, input[type=submit], input[type=button], button, img {
  border: 0;
}

input[type=submit], input[type=button], button {
  cursor: pointer;
}

input[type=text], textarea, input[type=submit], input[type=button], button {
  -webkit-appearance: none;
}

input[type=text], textarea, input[type=submit], input[type=button], button, input[type=file], a {
  -webkit-tap-highlight-color: transparent;
}

.clean {
  overflow: hidden;
}

.clear {
  display: block;
  zoom: 1;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.pointer {
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

input[type=text], textarea, input[type=submit], input[type=button], button {
  outline: none;
}

textarea {
  resize: none;
  overflow-y: hidden;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
}

.main-info .content, .main-info .thumbnail, .multi-topic .title, .post .description, .video .title {
  float: left;
}

.multi-topic .image, .mein .portrait, .mein .content {
  float: right;
}

.main-info .info, .multi-topic a {
  overflow: hidden;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.multi-topic .image {
  flex: none;
  align-self: center;
}

.main-info .thumbnail, .multi-topic .title, .post .description, .video .title {
  flex: auto;
  align-self: center;
}

.main-info, .main-info .content, .unsend {
  position: relative;
}

.picture .content .pic-loading:before, .video .thumbnail:before, .unsend:before, .main-info .content:after, .display-layer:after, .send-box:after, .image:after, .wrapper, .loading-icon, .message-list, .main-info .portrait, .main-info .portrait .gold-logo, .display-layer, .display-layer img, .send-box {
  position: absolute;
}

.time-info, .send-box .send {
  text-align: center;
}

.topic .link .image, .multi-topic .image, .display-layer, .send-box {
  font-size: 0px;
}

.main-info .title, .video .title {
  font-weight: normal;
}

.wrapper, .send-box, .send-box .send {
  background-color: #ffffff;
}

.display-layer {
  background-color: #000000;
}

.picture .content .pic-loading {
  background-color: #cccccc;
}

.main-info .content, .topic, .send-box .input {
  background-color: #f6f6f6;
}

.time-info, .post .description, .send-box .send {
  color: #a6a6a6;
}

.main-info .title, .text .info, .video .title {
  color: #1a1a1a;
}

.text a {
  color: #36a7ef;
}

.main-info .content, .topic, .picture img {
  border-radius: 5px;
}

.main-info .thumbnail, .topic, .send-box .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.picture .content .pic-loading:before, .video .thumbnail:before, .unsend:before {
  content: '';
}

.main-info .content:after, .display-layer:after, .send-box:after {
  content: '';
}

.picture .content .pic-loading:before, .video .thumbnail:before, .unsend:before {
  content: '';
}

.main-info .content:after, .display-layer:after, .send-box:after {
  content: '';
}

.alpha {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #000000\9;
  +background-color: #000000;
  opacity: 0.5\9;
  filter: alpha(opacity=50);
  z-index: 10;
}

.transparent-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.image {
  position: relative;
  font-size: 0;
}

.image:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pd-h-10 {
  padding: 0 2.67%;
}

html {
  -ms-touch-action: none;
}

.wrapper {
  top: 0;
  bottom: 1.12rem;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.loading-icon {
  top: 0.2rem;
  left: 50%;
  width: 0.36rem;
  height: 0.36rem;
  margin-left: -0.18rem;
  background: url(../img/loading.png) no-repeat;
  background-size: contain;
  z-index: 10;
  animation: loading 1s linear infinite;
  -moz-animation: loading 1s linear infinite;
  /* Firefox */
  -webkit-animation: loading 1s linear infinite;
  /* Safari 和 Chrome */
  -o-animation: loading 1s linear infinite;
  /* Opera */
}

.transparent {
  opacity: 0;
}

.pull {
  transition: top 0.3s;
  -moz-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
}

.message-list {
  width: 100%;
  padding-bottom: 0.56rem;
  z-index: 1;
}

.iscroll {
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.list-loading {
  opacity: 0;
}

.time-info {
  height: 0.78rem;
  line-height: 0.78rem;
  padding-top: 0.32rem;
  font-size: 0.28rem;
}

.time-info .time {
  padding-left: 0.3rem;
}

.main-info .portrait {
  top: 0;
  left: 0;
  width: 10.934%;
  margin: 0 6.67% 0 3.734%;
  padding: 0 0.8% 0.5rem;
}

.main-info .portrait .gold-logo {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.main-info .portrait img {
  border-radius: 50%;
}

.main-info .content {
  max-width: 53.334%;
  margin: 0.04rem 0 0 22.934%;
}

.main-info .content:after {
  top: 0.26rem;
  left: -0.16rem;
  width: 0;
  height: 0;
  border-top: 0.12rem solid transparent;
  border-right: 0.16rem solid #f6f6f6;
  border-bottom: 0.12rem solid transparent;
}

.main-info .title {
  line-height: 0.4rem;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.32rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main-info .thumbnail {
  width: 20%;
  margin-left: 7.5%;
}

.topic {
  width: 94.66666666666667%;
  margin-left: 2.66666666666667%;
  padding: 0 4% 0.3rem;
}

.topic .link {
  display: block;
  width: 100%;
  padding-bottom: 0.3rem;
}

.topic .link .image {
  overflow: hidden;
  height: 3.25rem;
  line-height: 3.25rem;
}

.topic .link .image img {
  vertical-align: middle;
}

.topic .title {
  line-height: 0.4rem;
  margin-bottom: 0.12rem;
  padding-top: 0.22rem;
  font-size: 0.32rem;
}

.multi-topic {
  margin-bottom: -0.3rem;
}

.multi-topic li {
  padding: 0.3rem 0;
  border-top: 1px solid #dedede;
}

.multi-topic li:first-child {
  border-top: none;
}

.multi-topic a {
  justify-content: space-between;
}

.multi-topic .title {
  width: 80%;
  height: 0.8rem;
  line-height: 0.4rem;
  margin-bottom: 0;
  padding: 0;
}

.multi-topic .title .span {
  display: inline-block;
  vertical-align: -50%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.multi-topic .image {
  width: 12.30769230769231%;
  margin-left: 7.69230769230769%;
  height: 0.8rem;
  line-height: 0.8rem;
  overflow: hidden;
}

.multi-topic .image img {
  vertical-align: middle;
}

.post .content {
  padding: 2.134% 2.67% 2.67%;
}

.post .info {
  margin-top: 0.14rem;
}

.post .description {
  width: 72.5%;
  line-height: 0.3rem;
  margin: 0.1rem 0;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text .content {
  padding: 2.134% 2.67%;
}

.text .info {
  display: block;
  line-height: 0.4rem;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.32rem;
}

.text a {
  word-wrap: break-word;
  word-break: break-all;
}

.text .highlight {
  background-color: #cccccc;
}

.mein .portrait {
  left: inherit;
  right: 0;
  margin: 0 3.734% 0 6.67%;
}

.mein .portrait:before {
  width: 0;
  height: 0;
}

.mein .content {
  margin: 0.04rem 22.934% 0 0;
}

.mein .content:after {
  left: inherit;
  right: -0.16rem;
  border-left: 0.16rem solid #f6f6f6;
  border-right: none;
}

.mein .content .image {
  margin-left: 45%;
  text-align: right;
}

.picture .content {
  width: 53.334%;
  background-color: #fff;
}

.picture .content:after {
  border-left: 0.16rem solid transparent;
  border-right: 0.16rem solid transparent;
}

.picture .content .image {
  width: 55%;
}

.picture .content .pic-loading {
  min-height: 3rem;
}

.picture .content .pic-loading:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/loading.gif) no-repeat;
  background-position: center center;
  background-size: 20%;
}

.picture img {
  width: 100%;
}

.display-layer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.display-layer .wide {
  top: 50%;
  width: 100%;
}

.display-layer .long {
  left: 50%;
  height: 100%;
}

.display-layer .reset {
  opacity: 0;
}

.video .content {
  padding: 2.67%;
}

.video .title {
  width: 72.5%;
  line-height: 0.4rem;
  font-size: 0.32rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video .thumbnail:before {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../img/play-icon.png) no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: contain;
}

.send-box {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0.1rem;
  z-index: 10;
}

.send-box:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, top, bottom, from(#ffffff), to(#f5f5f5));
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f5f5f5);
}

.send-box .input {
  width: 74.666%;
  height: 0.7rem;
  margin: 0.16rem 0 0.16rem 5.334%;
  padding: 0 0.24rem;
  border: none;
  border-radius: 0.36rem;
  font-size: 0.34rem;
}

.send-box .send {
  display: inline-block;
  width: 20%;
  height: 1.02rem;
  line-height: 1.02rem;
  background: url(../img/phone-upload.png) no-repeat;
  background-size: auto 33.3333333333334%;
  background-position: center;
  vertical-align: -0.4rem;
  font-size: 0.34rem;
}

.send-box input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.send-box .able {
  color: #1a1a1a;
}

.unsend:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tip-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.tip-wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 0;
  text-align: center;
}

.tip-content {
  display: inline-block;
  min-width: 4rem;
  max-width: 6.2rem;
  line-height: .42rem;
  font-size: .32rem;
  color: #dcdce0;
  word-wrap: break-word;
  padding: .43rem .2rem;
  background: rgba(37, 37, 38, 0.8);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-moz-keyframes loading {
  /* Firefox */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  /* Safari 和 Chrome */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-o-keyframes loading {
  /* Opera */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
